@import '../foundation/all';

@each $size, $value in $spacing {
	.izi-width-#{$size} {
		width: $value;
	}

	.izi-height-#{$size} {
		width: $value;
	}
}

@each $size, $value in $spacing {
	// ================= margin ================ //
	.#{$class-margin}-#{$size} {
		margin: $value;
	}

	.#{$class-margin}t-#{$size} {
		margin-top: $value !important;
	}

	.#{$class-margin}r-#{$size} {
		margin-right: $value !important;
	}

	.#{$class-margin}b-#{$size} {
		margin-bottom: $value !important;
	}

	.#{$class-margin}l-#{$size} {
		margin-left: $value !important;
	}

	// ================ padding ================ //
	.#{$class-padding}-#{$size} {
		padding: $value;
	}

	.#{$class-padding}t-#{$size} {
		padding-top: $value !important;
	}

	.#{$class-padding}r-#{$size} {
		padding-right: $value !important;
	}

	.#{$class-padding}b-#{$size} {
		padding-bottom: $value !important;
	}

	.#{$class-padding}l-#{$size} {
		padding-left: $value !important;
	}
}

@each $name, $value in $font-sizes {
	.#{$font-size}-#{$name} {
		font-size: $value;
	}
}

@each $name, $value in $line-heights {
	.#{$line-height}-#{$name} {
		line-height: $value;
	}
}