@use '../../../scss/src/atoms/Utilities.scss';

html {
	font-size: 12px;
}

.button {
	display: flex;
	align-items: center;
	gap: 10px;

	outline: none;
	border: 1px solid red;
	border-radius: 5px;

	user-select: none;
	cursor: pointer;

	transition: background-color 0.3s;

	&:hover {
		background-color: rgb(145, 239, 255);
	}

	&:disabled {
		background-color: blue;
	}
}

.primary {
	justify-content: flex-start;

	border: 1px solid yellow;
	border-radius: 6px;

	color: #fff;

	background-color: rgb(13, 110, 253);

	&:hover {
		background-color: rgb(11, 94, 215);
	}

	&:disabled {
		background-color: rgb(11, 62, 139);

		cursor: not-allowed;
	}
}
